doctype html
html
    head
        title= title
        meta(name="theme-color" content="#ee6e73")
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet" href="/stylesheets/materialize.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css")
        script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js")
        script(src="/javascripts/jquery.canvasjs.min.js")
        script(src="/javascripts/jquery.cookie.js")
        block inline-style
    body
        nav
            div(class="nav-wrapper")
                a(href="/" class="brand-logo") Medifact
                a.button-collapse(href="#" data-activates="nav-mobile")
                    i.material-icons menu
                ul.side-nav(id="nav-mobile")
                    li.menu-profile: a(href="/profile") Profile
                    li.menu-check: a(href="/check") Check
                    li.menu-report: a(href="/report") Report
                    li.menu-stat: a(href="/stat") Statistics
                ul.right.hide-on-small-and-down
                    li.menu-profile: a(href="/profile") Profile
                    li.menu-check: a(href="/check") Check
                    li.menu-report: a(href="/report") Report
                    li.menu-stat: a(href="/stat") Statistics
        div.row
            div.col.s3.manual-padding
            div.col.s6.main-column.card(style="padding-top: 16px; padding-bottom: 16px")
                block content
        a.github-fork-ribbon.right-bottom.fixed(href="https://github.com/parkjs814/Medifact" title="Fork me on GitHub") Fork me on GitHub
        script.
            $(document).ready(function () {
                $(".button-collapse").sideNav();
            });

