extends layout

block content
    .col.s12
        div.row
            div.input-field.col.s12
                select#age
                    option(value="" disabled selected) choose your age
                    each age, i in AGE
                        option(value="#{i}") #{age}
                label Age
        div.row
            div.input-field.col.s12
                select#gender
                    option(value="" disabled selected) choose your gender
                    each gender, i in GENDER
                        option(value="#{i}") #{gender}
                label Gender
        block report
        div.row.button-row
            button.waves-effect.waves-light.btn.col.s12 Submit
    script.
        $(document).ready(function () {
            $('select').material_select();
        });
        $('#age').val($.cookie("age"));
        $('#gender').val($.cookie("gender"));
        $('button').click(function () {
            $.cookie("age", $('#age').val());
            $.cookie("gender", $('#gender').val());
            window.location.href = '/check';
        });
    script.
        $('.menu-profile').addClass('active');